body {
	margin: 0;
}

.main_display {
	margin-top: 20px;
	height: 500px;
	text-align: center;
}

.output_area {
	width: 800px;
	height: 500px;
	margin: auto;
	background-color: red;
}

.slider {
	margin-top: 20px;
	height: 50px;
	text-align: center;
}

.list_slider {
  padding: 0;
  margin: auto;
  list-style-type: none;
  white-space: nowrap;
}

li {
  display: inline-block;
  margin-right: 10px;
  width: 80px;
  height: 50px;
  background-color: green;
  border: 1px solid black;
}